.root {
  --primary: #ef2a6b;
  --secondary: #5377f2;
  font-size: 11pt;
  line-height: 1.4;
  color: #333;
}

.root p {
  text-align: justify;
}

.root li {
  text-align: justify;
}

.root h2 {
  font-size: 13pt;
  margin-top: 24pt;
  margin-bottom: 8pt;
  letter-spacing: 0.1em;
}

.header {
  position: absolute;
  left: -.5in;
  top: -.5in;
  right: -.5in;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12pt;
  padding: .5in .5in 24pt .5in;
  height: 220pt;
  background: linear-gradient(45deg, var(--secondary), var(--primary));
  color: #fff;
}

.basic {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.profilePicture {
  width: 80pt;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  flex: none;
  z-index: 10;
  display: flex;
  overflow: hidden;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 16pt;
  line-height: 1;
  font-weight: bold;
  margin-top: 8pt;
  letter-spacing: .2em;
  text-indent: .2em;
}

.title {
  font-size: 13pt;
  margin-top: 8pt;
  line-height: 1;
  letter-spacing: .1em;
  text-indent: .1em;
}

.main {
  columns: 2;
  margin-top: 220pt;
  column-gap: 24pt;
}

.main > div:first-child h2 {
  margin-top: 0;
}

.infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 10pt;
  margin-top: 16pt;
  gap: 0 0.5em;
}

.infoValue {
  flex: none;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.skillItem {
  display: flex;
  justify-content: space-between;
}

.introduction {
  background-color: #fff;
  font-size: 10pt;
  padding: 16pt;
  border-radius: 4pt;
  color: var(--primary);
}

.introduction h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.block {
  margin-top: 12pt;
}

.blockTitle {
  color: var(--primary);
  font-weight: bold;
}

.blockHeader {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.blockHeader > div:after {
  content: '';
  border-right: 1px solid var(--primary);
  margin: 0 .4em;
}

.blockHeader > div:last-child:after {
  display: none;
}