.root {
  font-size: 12pt;
  color: #333;
  line-height: 1.5;
}

.root p {
  text-indent: 2em;
  text-align: justify;
}

.root li {
  text-align: justify;
}

.root h2 {
  font-size: 14pt;
  font-weight: bold;
  margin: 1.5em 0;
}

.header {
  position: relative;
  display: flex;
  background-color: #f8f3ee;
  margin-top: 36pt;
  align-items: center;
  padding: 18pt 36pt;
  line-height: 1.3;
}

.profilePicture {
  height: 110%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  flex: none;
  position: absolute;
  right: 80pt;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 28pt;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: rgba(0,0,0,.87);
}

.title {
  font-size: 18pt;
  letter-spacing: 0.1em;
  color: rgba(0,0,0,.57);
}

.infos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 12pt;
  gap: 1pt;
  color: rgba(0,0,0,.57);
}

.main {
  columns: 2;
  margin-top: 36pt;
  padding: 0 36pt;
  gap: 36pt;
}

.introduction h2 {
  margin-top: 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4pt;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 12pt;
}

.blockHeader div:nth-child(2n + 1) {
  color: #333;
  font-weight: bold;
}

.blockHeader div:nth-child(2n) {
  color: #333;
}

.dates {
  font-size: 11pt;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  gap: 8px;
}