.root {
  --primary-color: #e5f2f2;
  font-size: 12pt;
  line-height: 1.5;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  color: #333;
  background-color: var(--primary-color);
}

.root p {
  text-align: justify;
}

.root li {
  text-align: justify;
}

.sider {
  position: relative;
  width: 40%;
  flex: none;
  z-index: 10;
  background-color: #fff;
}

.basic {
  padding: 36pt 0 36pt 46pt;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.root h2 {
  line-height: 3;
  font-size: 14pt;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
}

.mainPart {
  position: relative;
  width: 60%;
  flex: 1;
  padding: 36pt;
  background-color: var(--primary-color);
  background-position: 0 -1in;
}

.profilePicture {
  width: 210pt;
  aspect-ratio: 1 / 1.5;
  border: 4pt solid #fff;
  flex: none;
  margin-left: 46pt;
  z-index: 10;
  display: flex;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 36pt;
  letter-spacing: 0.4em;
  text-align: left;
  margin-top: 12pt;
  width: 100%;
}

.title {
  font-size: 22pt;
  letter-spacing: 0.1em;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 0 0.5em 0 2em;
  margin-left: auto;
  line-height: 2;
  letter-spacing: 0.2em;
  min-width: 50%;
}

.infos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 23pt 46pt;
  gap: 6pt;
  line-height: 1;
}

.infoItem {
  display: flex;
}

.infoLabel {
  flex: none;
}

.infoValue {
  font-weight: bold;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4pt;
  padding: 0 46pt;
  gap: 6pt;
  line-height: 1;
}

.blockHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blockHeader > div:first-child {
  font-weight: bold;
}

.blockHeader > div:nth-child(2n) {
  text-align: right;
}

.dates {
  font-size: 11pt;
}

.company {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  gap: 8px;
}

.education {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  gap: 8px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  gap: 8px;
}

.interests {
  padding: 36pt;
}