.preview {
  padding: 16px;
  width: fit-content;
  min-width: 100%;
}

.paper {
  /* width: 17cm;
  min-height: 25.4cm;
  padding: 2cm; */
  /* background-color: #fff; */
  /* box-shadow: var(--shadow-1); */
}

.paper :global(.pagedjs_page) {
  background-color: #fff;
  box-shadow: var(--shadow-1);
  margin-bottom: 16px;
}

@media print {
  .paper :global(.pagedjs_page) {
    background-color: none !important;
    box-shadow: none !important;
    margin-bottom: 0 !important;
  }
}

.full {
  --pagedjs-margin-top: 0.5in;
  --pagedjs-margin-right: 0.5in;
  --pagedjs-margin-left: 0.5in;
  --pagedjs-margin-bottom: 0.5in;
}

.full :global(.pagedjs_first_page) {
  --pagedjs-margin-top: 0px;
  --pagedjs-margin-right: 0px;
  --pagedjs-margin-left: 0px;
  --pagedjs-margin-bottom: 0px
}

.keepBottom :global(.pagedjs_first_page) {
  --pagedjs-margin-top: 0px;
  --pagedjs-margin-right: 0px;
  --pagedjs-margin-left: 0px;
}