.preview {
  position: relative;
  width: 4.25in;
  height: 5.5in;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: all 275ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 1px solid #ffffff;
  background-color: #fff;
}

.preview:hover {
  outline: 1px solid #1677ff;
}

.preview:hover .actionBar {
  opacity: 1;
}

.pages {
  width: 8.5in;
  opacity: 0;
}

.pages.scaled {
  transform: scale(0.5, 0.5);
  transform-origin: 0% 0%;
  opacity: 1;
  transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preview :global(.pagedjs_page) {
  background-color: #fff;
}

.actionBar {
  position: absolute;
  left: 24px;
  bottom: 24px;
  z-index: 20;
  display: flex;
  flex-flow: column;
  gap: 4px;
  opacity: 0;
  transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actionButton {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.actionButton:disabled {
  background-color: rgba(255, 255, 255, 1);
}
